<!doctype html>
<html lang="en" class="no-js" ng-app="AngularFlask">

<head>
    <title>HotMagazine</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/home/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/home/css/jquery.bxslider.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/home/css/font-awesome.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/home/css/magnific-popup.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/home/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/home/css/owl.theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/home/css/ticker-style.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/style.css" media="screen">

    <script type="text/javascript" src="/static/home/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/home/js/jquery.migrate.js"></script>
    <script type="text/javascript" src="/static/home/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/static/home/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/static/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/home/js/jquery.ticker.js"></script>
    <script type="text/javascript" src="/static/home/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="/static/home/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/home/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/home/js/retina-1.1.0.min.js"></script>
    <script type="text/javascript" src="/static/home/js/script.js"></script>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-resource.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>
</head>

<body>
    <!-- Container -->
    <div id="container" ng-view>
    </div>
    <!-- End Container -->
</body>

</html>
